.sidebar{
    background-color:black;
    color: white;
    width: 300px;
    height: 100%;
    position: fixed;
    padding-top: 20px;
    top: 0px;
    left: 0px;

}
ul{
    list-style: none;
    margin: 10px;
    padding: 30px;

}
li{
    font-family: fantasy;
    font-size: 20px;
    padding: 15px 20px;

}
.sidebar a{
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: blue;
    color: aqua;
}
.rounded-image{
    width: 200px;
    height: 200px;
    border: 100%;
    overflow-y: visible;
    padding-left: 50px;
}
.my-name{
    font-size: 40px;
}
.introduction{
    margin-left: 300px;

}
.introduction-text{
    font: size 25px;
}
.contact-me{
    border:  red ;
    text-align: center;
}
.contact-me a{
    border: 1px black solid;
    border-radius: 5px;
    padding: 8px;
}
.contact-me :hover{
    background-color: turquoise;
    color: blueviolet;
}
.read-more{
    padding: 10px;
    
}
.read-more a{
    color: white;
    background-color: black;
    font-weight: bold;

}
.read-more a :hover{
    background-color: white;
    color: black;
    transition: 200ms ease-in-out;

}
